@import 'globals';

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

#app {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  font-family: $primary-font;
  color: $black;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  a {
    display: inline-block;
    padding-bottom: $small-margin / 2;
    margin: $large-margin;
    color: $black;
    text-decoration: none;
    text-transform: uppercase;
    &:hover {
      color: $gray;
    }
  }
  .router-link-exact-active {
    border-bottom: 4px solid $black;
    &:hover {
      color: $black;
    }
  }
}

.main {
  padding-top: 74px;
}

.bg-imgs {
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $white;
    opacity: 0.4;
    z-index: -1;
  }
  &.show-bg-1 .bg-1 { display: block; }
  &.show-bg-2 .bg-2 { display: block; }
  &.show-bg-3 .bg-3 { display: block; }
  &.show-bg-4 .bg-4 { display: block; }
  &.show-bg-5 .bg-5 { display: block; }
  &.show-bg-6 .bg-6 { display: block; }
  &.show-bg-7 .bg-7 { display: block; }
  &.show-bg-8 .bg-8 { display: block; }
  &.show-bg-9 .bg-9 { display: block; }
  &.show-bg-10 .bg-10 { display: block; }
  &.show-bg-11 .bg-11 { display: block; }
  &.show-bg-12 .bg-12 { display: block; }
  &.show-bg-13 .bg-13 { display: block; }
  &.show-bg-14 .bg-14 { display: block; }
  &.show-bg-15 .bg-15 { display: block; }
  &.show-bg-16 .bg-16 { display: block; }
  &.show-bg-17 .bg-17 { display: block; }
  &.show-bg-18 .bg-18 { display: block; }
  &.show-bg-19 .bg-19 { display: block; }
  &.show-bg-20 .bg-20 { display: block; }
  &.show-bg-21 .bg-21 { display: block; }
  &.show-bg-22 .bg-22 { display: block; }
  &.show-bg-23 .bg-23 { display: block; }
  &.show-bg-24 .bg-24 { display: block; }
  &.show-bg-25 .bg-25 { display: block; }
  &.show-bg-26 .bg-26 { display: block; }
  &.show-bg-27 .bg-27 { display: block; }
  &.show-bg-28 .bg-28 { display: block; }
  &.show-bg-29 .bg-29 { display: block; }
  &.show-bg-30 .bg-30 { display: block; }
  &.show-bg-31 .bg-31 { display: block; }
  &.show-bg-32 .bg-32 { display: block; }
  &.show-bg-33 .bg-33 { display: block; }
  &.show-bg-34 .bg-34 { display: block; }
  &.show-bg-35 .bg-35 { display: block; }
  &.show-bg-36 .bg-36 { display: block; }
  &.show-bg-37 .bg-37 { display: block; }
  &.show-bg-38 .bg-38 { display: block; }
  &.show-bg-39 .bg-39 { display: block; }
  &.show-bg-40 .bg-40 { display: block; }
  &.show-bg-41 .bg-41 { display: block; }
  &.show-bg-42 .bg-42 { display: block; }
  &.show-bg-43 .bg-43 { display: block; }
  &.show-bg-44 .bg-44 { display: block; }
}

.bg-img {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  z-index: -2;
}
