@import 'globals';

html,
body,
#app {
  height: 100%;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

button {
  padding: 0;
  border: 0;
  background: none;
}

a,
button {
  &:focus {
    outline: none;
  }
}

#app {
  font-family: $primary-font;
  color: $black;
}

.main {
  height: 100%;
<<<<<<< HEAD
  overflow-y: auto;
}
.text-content {
  margin: 0 auto;
  max-width: 500px;
}
.text-content > h2,h3 {
  margin-top: 20px;
  text-align: center;
}
.text-content > ul {
  line-height: 1.5;
=======
  padding: ($large-margin * 3) 0;
>>>>>>> 6cab808e47350602242cb0c52c058d52e1650186
}

// header styles
// --------------------------------------------------

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  line-height: 1em;
  text-align: center;
  a {
    display: inline-block;
    padding-bottom: $small-margin / 2;
    margin: $large-margin;
    color: $black;
    text-decoration: none;
    text-transform: uppercase;
    &:hover {
      color: $gray;
    }
  }
  .router-link-exact-active {
    border-bottom: 4px solid $black;
    &:hover {
      color: $black;
    }
  }
}

// footer styles
// --------------------------------------------------

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
  margin: $medium-margin;
  font-size: 0;
  text-align: right;
}

<<<<<<< HEAD
.main {
  width: 600px;
  height: 100%;
  padding-top: 75px;
  margin: 0 auto;
}

.content {
  h2 {
    margin: ($large-margin * 2) 0 ($large-margin);
    font-size: 24px;
    font-weight: 900;
    letter-spacing: 6px;
    text-align: center;
    text-transform: uppercase;
  }
}

.bg-imgs {
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $white;
    opacity: 0.4;
    z-index: -1;
  }
  &.show-bg-1 .bg-1,
  &.show-bg-2 .bg-2,
  &.show-bg-3 .bg-3,
  &.show-bg-4 .bg-4,
  &.show-bg-5 .bg-5,
  &.show-bg-6 .bg-6,
  &.show-bg-7 .bg-7,
  &.show-bg-8 .bg-8,
  &.show-bg-9 .bg-9,
  &.show-bg-10 .bg-10,
  &.show-bg-11 .bg-11,
  &.show-bg-12 .bg-12,
  &.show-bg-13 .bg-13,
  &.show-bg-14 .bg-14,
  &.show-bg-15 .bg-15,
  &.show-bg-16 .bg-16,
  &.show-bg-17 .bg-17,
  &.show-bg-18 .bg-18,
  &.show-bg-19 .bg-19,
  &.show-bg-20 .bg-20,
  &.show-bg-21 .bg-21,
  &.show-bg-22 .bg-22,
  &.show-bg-23 .bg-23,
  &.show-bg-24 .bg-24,
  &.show-bg-25 .bg-25,
  &.show-bg-26 .bg-26,
  &.show-bg-27 .bg-27,
  &.show-bg-28 .bg-28,
  &.show-bg-29 .bg-29,
  &.show-bg-30 .bg-30,
  &.show-bg-31 .bg-31,
  &.show-bg-32 .bg-32,
  &.show-bg-33 .bg-33,
  &.show-bg-34 .bg-34,
  &.show-bg-35 .bg-35,
  &.show-bg-36 .bg-36,
  &.show-bg-37 .bg-37,
  &.show-bg-38 .bg-38,
  &.show-bg-39 .bg-39,
  &.show-bg-40 .bg-40,
  &.show-bg-41 .bg-41,
  &.show-bg-42 .bg-42,
  &.show-bg-43 .bg-43,
  &.show-bg-44 .bg-44 {
    opacity: 1;
  }
}

.bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  z-index: -2;
}

button {
  padding: 0;
  border: 0;
  background: none;
}

a,
button {
  &:focus {
    outline: none;
  }
}
=======
>>>>>>> 6cab808e47350602242cb0c52c058d52e1650186
.btn-flag {
  position: relative;
  width: $small-margin * 5;
  height: $small-margin * 3;
  margin-left: $small-margin;
  &.selected:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $black;
    opacity: 0.7;
  }
  &:not(.selected):hover {
    cursor: pointer;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

// background image styles
// --------------------------------------------------

.bg-imgs:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $white;
  opacity: 0.4;
  z-index: -1;
}

.bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  z-index: -2;
}
