// typography
// --------------------------------------------------

$primary-font: 'Roboto', sans-serif;


// color
// --------------------------------------------------

$white: #ffffff;
$gray:  #666666;
$black: #333333;


// margin
// --------------------------------------------------

$small-margin:  8px;
$medium-margin: 16px;
$large-margin:  24px;
