@import 'globals';

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  text-align: center;
  h1 {
    margin: 0 0 $large-margin;
    font-size: 104px;
    font-weight: 900;
    letter-spacing: $medium-margin;
    text-transform: uppercase;
    span {
      font-size: 88px;
    }
  }
  h2 {
    margin: 0 0 ($large-margin * 2);
    font-size: 20px;
    font-weight: 700;
    span {
      margin: 0 $small-margin;
      font-weight: 400;
    }
  }
}

.rsvp-btn {
  display: inline-block;
  width: 200px;
  padding: $medium-margin;
  border: 4px solid $black;
  color: $black;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  &:hover {
    background-color: $black;
    color: $white;
  }
}

.bg-imgs {
  &.show-bg-1 .bg-1,
  &.show-bg-2 .bg-2,
  &.show-bg-3 .bg-3,
  &.show-bg-4 .bg-4,
  &.show-bg-5 .bg-5,
  &.show-bg-6 .bg-6,
  &.show-bg-7 .bg-7,
  &.show-bg-8 .bg-8,
  &.show-bg-9 .bg-9,
  &.show-bg-10 .bg-10,
  &.show-bg-11 .bg-11,
  &.show-bg-12 .bg-12,
  &.show-bg-13 .bg-13,
  &.show-bg-14 .bg-14,
  &.show-bg-15 .bg-15,
  &.show-bg-16 .bg-16,
  &.show-bg-17 .bg-17,
  &.show-bg-18 .bg-18,
  &.show-bg-19 .bg-19,
  &.show-bg-20 .bg-20,
  &.show-bg-21 .bg-21,
  &.show-bg-22 .bg-22,
  &.show-bg-23 .bg-23,
  &.show-bg-24 .bg-24,
  &.show-bg-25 .bg-25,
  &.show-bg-26 .bg-26,
  &.show-bg-27 .bg-27,
  &.show-bg-28 .bg-28,
  &.show-bg-29 .bg-29,
  &.show-bg-30 .bg-30,
  &.show-bg-31 .bg-31,
  &.show-bg-32 .bg-32,
  &.show-bg-33 .bg-33,
  &.show-bg-34 .bg-34,
  &.show-bg-35 .bg-35,
  &.show-bg-36 .bg-36,
  &.show-bg-37 .bg-37,
  &.show-bg-38 .bg-38,
  &.show-bg-39 .bg-39,
  &.show-bg-40 .bg-40,
  &.show-bg-41 .bg-41,
  &.show-bg-42 .bg-42,
  &.show-bg-43 .bg-43,
  &.show-bg-44 .bg-44 {
    opacity: 1;
  }
}
